@model List<EmployeeTransaction.Models.Company>

@{
    ViewBag.Title = "CompanyDetails";
}

<h2>Company Details</h2>


@if(Model.Count == 0)
{
    <h4 class="text-warning">No companies are assigned to this employee</h4>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Date 1</th>
                <th>Date 2</th>
                <th>Financial</th>
                <th>Name</th>
                <th>Proposal</th>
                <th>State</th>
                <th>Status</th>
                <th>To Whom</th>
                <th>Words</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(model => company.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Date1, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Date2, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Financial, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Proposal, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.State, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Status, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.ToWhom, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => company.Words, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @for (var i = 0; i < 10; ++i)
                {
                    <td class="text-center">
                        @((string)ViewBag.Role)
                    </td>
                }
            </tr>
        </tfoot>
    </table>
}


<div>
    @Html.ActionLink("View transactions assigned to you", "TransactionList") | @Html.ActionLink("View Files", "FileList")
</div>
