@model List<EmployeeTransaction.Models.Company>

@{
    ViewBag.Title = "Edit Company";
}

<h2>Edit Company</h2>
<hr />


<h4>@Html.ActionLink("Create New +", "AddCompany", null, null)</h4>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Date 1</th>
            <th>Date 2</th>
            <th>Financial</th>
            <th>Name</th>
            <th>Proposal</th>
            <th>State</th>
            <th>Status</th>
            <th>To Whom</th>
            <th>Words</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(model => item.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Date1, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Date2, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Financial, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Proposal, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.State, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.ToWhom, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => item.Words, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>@Html.ActionLink("Manage", "ViewCompanyAssignment", new { id = @item.Id })</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @for (var i = 0; i < 10; ++i)
            {
                <td class="text-center">
                    @((string)ViewBag.Role)
                </td>
            }
        </tr>
    </tfoot>
</table>
<br />
<div>
    @Html.ActionLink("Manage Employees", "EmployeeList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
